*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #2196F3;
    min-width: 960px;
}
main{
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    width:90%;
    max-width: 940px;
    margin: 20px auto;
    box-shadow: 0px 8px 0px -5px rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.8);
}
h4{
    margin-bottom: 15px;
}
#tabla_horario{
    width: 100%;
}